{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Compiler</h1>
    <a href="/harp/">Back to Main page</a>
    <label>Upload a reanimate Harp script file</label>
    <form action = "/compiler/rean_script" method = "post" enctype="multipart/form-data" onsubmit="setTimeout(function () { window.location.reload(); }, 10000)">
        <input type="file" name="rean_script_Input" accept=".txt" />
        <input type="submit" value="Compile Script">
    </form>
</body>
{% endblock %}