{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Device List</h1>
    <a href="/harp/">Back to Main page</a>
    <table>
        <thead><tr><th>DSN</th></tr></thead>
        <tbody>
            {% for dsn in dsns %}
            <tr>
                <td><a href="/dsns/{{dsn}}">{{dsn}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}