{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Device Data for {{dsn_name}}</h1>
    <a href="/dsns/">Back to DSN List</a>
    <p>
        Below is a chronological list of logs. The server will log all new data
        within the log of today's date. You can rename a log in its individial
        view, moving all of it's contents to a log with the specified name. This
        allows one to save off individual trips rather than needing to view all
        data from a day at once.

        A GM plot can be generated for each log, and the raw CSV data can also be
        downloaded for each log.
    </p>
    <table>
        <thead><tr><th>Log Name</th><th>Plot Link</th><th>CSV Link</th></th><th>Last Updated</th></tr></thead>
        <tbody>
            {% for dsn, file_dispname, file, ftime_str in dsn_Array %}
            <tr>
                <td><a a href="/dsns/{{dsn}}/{{file_dispname}}/view">{{file_dispname}}</a></td>
                <td><a href="/dsns/{{dsn}}/{{file_dispname}}/plot">View Plot</a></td>
                <td><a href="/hts_output/{{dsn}}/{{file}}">Download CSV</a></td>
                <td>{{ftime_str}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}