
{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Harp Tool Services</h1>
    <table>
        <thead><tr><th>Harp Telemetry Server</th></tr></thead>
        <body>
                <tr>
                <td><a href="/params/">Paramset List</a></td>
                </tr>
                <tr>
                <td><a href="/dsns/">Device List</a></td>
                </tr>
                <tr>
                <td><a href="/udp_ports/">UDP Ports</a></td>
                </tr>
        </body>
        <thead><tr><th>Harp Tools</th></tr></thead>
        <body>
            <tr>
            <td><a href="/compiler/">Compiler</a></td>
            </tr>
            <tr>
            <td><a href="/translator/">Translator</a></td>
            </tr>
    </body>
    </table>
</body>
{% endblock %}
