{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Content view {{PARAM_NAME}}</h1>
    <a href="/params/">Back to Paramset list</a>
    <pre><code>
{{PARAM_CONTENT}}
    </code></pre>
</body>
{% endblock %}